html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la ventana */
}

main {
  flex: 1; /* el contenido crece y empuja el footer abajo */
}
